<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
  </head>
  <body>

    <ul>
      <li>{{item}}</li>

    </ul>

    <img src="images/house-1696876594121.jpeg" alt="" />
    <img src="images/house-1696876594121.jpeg" alt="" />
    <img src="images/house-1696876594121.jpeg" alt="" />
    <img src="images/house-1696876594121.jpeg" alt="" />
  </body>
</html>